  <h3>Welcome to eLearn</h3>
  <p><img class="align-left" src="http://placehold.it/180x150/4D99E0/ffffff.png&text=180x150" width="180" height="150" />
  <p>eLearn is a simple and free online learning plaform. Instructors can create courses and students can register for courses which include assignments, quizes and suppor forums</p>
  <a href="/users/signup" class="button">Sign Up Free</a>
  <p>You need to signup to register for free classes</p>