extends layout

block content
  h1 Login
  p Please login using the form below
  form(method='post', action='/users/login', enctype='multipart/form-data')
    .form-group
      label Username
      input.form-control(name='name', type='text', placeholder='Enter Name')
    .form-group
      label Password
      input.form-control(name='email', type='password', placeholder='Enter Password')
    input.btn.btn-default(name='submit', type='submit', value='Login')